.popup.pwrapper{
    position: relative;
    display:inline-block;
    .pcontent {
        font-size: smaller;  
        opacity: 0;
        visibility: hidden;
        position: absolute;
        vertical-align: top;
        background-color: var(--background-dark);
        padding: 1.5rem;
        transform: translate(-50%, calc(-100% - 15px));
        left: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        min-width: fit-content;
        max-width:400px;
        max-height:20em;
        height:fit-content;
        overflow-y:auto;
        transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
        &:after{
            position: absolute;
            z-index: -1;
            content: "";
            right: calc(50% - 10px);
            bottom: -8px;
            border-style: solid;
            border-width: 10px 10px 0px 10px;
            border-color:  var(--background-dark) transparent transparent transparent;
            transition-duration: 0.3s;
            transition-property: transform;
        }
    }
    &:hover .pcontent {
        z-index: 10;
        opacity: 1;
        visibility: visible;
    }
    .ptitle{
        width:fit-content;
        
    }
    p {
        margin-block-end: 0;
    }
}