@import '../../app.scss';

figure {
    border-style: solid;
    background-color: var(--background-dark);
    position: relative;
    display: block;
    clear: right;
    @include desktop {
        width: fit-content;
        float: right;
        &::after{
            clear:both;
            content:'';
        }
        max-width: $mobile-breakpoint * 0.4;
    }
    @include print{
        width: fit-content;
        float: right;
        max-width: 40vw;
        
    }
    
    @include mobile {
        width: 70%;
        margin:auto;
    }
    
    img {
        max-width: calc(100% - 16px);
        padding: 8px;
        padding-bottom: 0px;
    }
    figcaption {
        font-size:0.7em;
        padding:8px;
        padding-top: 0px;
        margin:auto;
    }
}